<div class="container" >
<div class="flk-principal-slider"  >
	<div class="flk-seccion-carrusel carrusel-{{section.id }} text-center" 
         data-flickity='{"autoPlay": 5000,
                        "freeScroll": false,
                        "prevNextButtons": false,
                        "lazyLoad": true, 
                        "draggable": true, 
                        "wrapAround": true, 
                        "imagesLoaded": true, 
                        "pageDots": false}'>
        {% for block in section.blocks %}
        {% assign block_img = block.settings.img %}
        {% assign block_url = block_product.selected_or_first_available_variant %}
        {% assign featured_img_src = block_first_variant.featured_img.src | default: block_product.featured_image.src %}

      
        <div class="flk-carrusel-slider">
            {% if block.settings.img != blank %}
			<div class="flk-texto-slider">    
              <div class="flk-texto-alineacion" >
                 <div class="flk-texto-alineacion--titulo">
                    <h1 class="flk-texto-titulo" style="color: {{ block.settings.title_color }};" >
                    {{ block.settings.title }}
                    </h1>
                 </div>
                  <div class="flk-text-alineacion--texto">
                    <p class="flk-texto-subtitulo" style="color: {{ block.settings.subtitle_color }};  " >
                    {{ block.settings.subtitle }}
                    </p>      
                    <!--Botón Slider-->
                    <div class="flk-boton-slider" >
                      <a href="{{ block.settings.url }}">
                      {{ block.settings.boton }}
                      </a>
                    </div>
                </div> 
              </div>
        	</div>
           <div class="flk-img-slider">
              <a href="{{ block.settings.url }}">
                <img class="img-flk-carrusel-slider-mobile" src="{{ block.settings.img | img_url: 'large' }}" alt="{{ block.settings.img_alt }}"/>    
                <img class="img-flk-carrusel-slider-desktop" src="{{ block.settings.img_desktop | img_url: '2048x' }}" alt="{{ block.settings.img_alt }}" />    
              </a>
            {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}  
          </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<style>
    	@media (min-width:768px){
      .flk-carrusel-seccion-producto .flk-celda-carrusel-producto{
        width:{{ section.settings.cell_width }} !important;
      }
  	}
</style>

{% schema %}
  {
    "name": "Slider Bienvenida",
    "settings": [
      {
        "type": "range",
        "id": "img_width",
        "min": 200,
        "max": 600,
        "step": 5,
        "unit": "px",
        "label": "Ancho Imagen para Móviles",
        "default": 600
      },
      {
        "type": "select",
        "id": "cell_width",
        "label": "Escoge el número de productos a mostrar al iniciar",
        "options": [
          {
            "value": "33.33%",
            "label": "Tres"
          },
          {
            "value": "25%",
            "label": "Cuatro"
          },
          {
            "value": "20%",
            "label": "Cinco"
          },
          {
            "value": "16.6666667%",
            "label": "Seis"
          },
          {
            "value": "12.5%",
            "label": "Ocho"
          }
        ],
        "default": "33.33%"
      },
      {
        "type": "radio",
        "id": "wrap_around",
        "label": "Habilitar Vuelta Infinita(Wrap Around)",
        "options": [
          {
            "value": "true",
            "label": "Verdadero"
          },
          {
            "value": "false",
            "label": "Falso"
          }
        ],
        "default": "true",
		"info": "Grabar para ver cambios"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Imagen Celular 1281px x 1440px"
          },
          {
            "type": "image_picker",
            "id": "img_desktop",
            "label": "Imagen Escritorio 1600px x 800px"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Selecciona Destino"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título Slider"
          },
		{
          "type": "color",
          "id": "title_color",
          "label": "Color Titulo Desktop",
          "default": "#2d2d2d",
          "info": "Valor Predeterminado: #2d2d2d"
        },
		{
            "type": "text",
            "id": "subtitle",
            "label": "Subtítulo Slider"
          },
		{
          "type": "color",
          "id": "subtitle_color",
          "label": "Color Subtitulo Desktop",
          "default": "#2d2d2d",
          "info": "Valor Predeterminado: #2d2d2d"
        },
          {
            "type": "text",
            "id": "boton",
            "label": "Nombre del Botón"
          },
		{
          "type": "color",
          "id": "boton_color",
          "label": "Color del Botón",
          "default": "#232c4a",
          "info": "Valor Predeterminado: #232c4a"
        }

        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Bienvenida",
        "category": "Baner Slide",
        "blocks": [
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}
